// ==============================
// Variables for Twitter/X Theme
// ==============================

// Font
$font-chirp: 'Chirp', sans-serif;

// Font weights (for easy reference)
$chirp-regular: 400;
$chirp-medium: 500;
$chirp-bold: 700;
$chirp-heavy: 900;

// Colors
$twitter-blue: #1da1f2;
$twitter-dark: #14171a;
$twitter-light: #ffffff;
$twitter-gray: #657786;
$twitter-extra-light: #e1e8ed;
$twitter-extra-dark: #0f1419;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

// font sizes
$text-sm: 12px;
$text-md: 15px;
$text-lg: 20px;

// Border
$default-border: 1px solid rgb(47, 51, 54);

// Button e tabs
$background-hover: rgba(239, 243, 244, 0.1);
